<head th:fragment="head">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/user/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/user/css/owl.carousel.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/user/css/flaticon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/user/css/slicknav.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/user/css/animate.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/user/css/magnific-popup.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/user/css/fontawesome-all.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/user/css/themify-icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/user/css/slick.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/user/css/nice-select.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/user/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/user/css/search.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/user/img/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/admin/css/pagination.css}">

    <script th:src="@{/assets/user/js/vendor/modernizr-3.5.0.min.js}"></script>
    <script th:src="@{/assets/user/js/vendor/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/assets/user/js/popper.min.js}"></script>
    <script th:src="@{/assets/user/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/user/js/jquery.slicknav.min.js}"></script>
    <script th:src="@{/assets/user/js/owl.carousel.min.js}"></script>
    <script th:src="@{/assets/user/js/slick.min.js}"></script>
    <script th:src="@{/assets/user/js/wow.min.js}"></script>
    <script th:src="@{/assets/user/js/animated.headline.js}"></script>
    <script th:src="@{/assets/user/js/jquery.magnific-popup.js}"></script>
    <script th:src="@{/assets/user/js/jquery.scrollUp.min.js}"></script>
    <script th:src="@{/assets/user/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/assets/user/js/jquery.sticky.js}"></script>
    <script th:src="@{/assets/user/js/contact.js}"></script>
    <script th:src="@{/assets/user/js/jquery.form.js}"></script>
    <script th:src="@{/assets/user/js/jquery.validate.min.js}"></script>
    <script th:src="@{/assets/user/js/mail-script.js}"></script>
    <script th:src="@{/assets/user/js/jquery.ajaxchimp.min.js}"></script>
    <script th:src="@{/assets/user/js/plugins.js}"></script>
    <script th:src="@{/assets/user/js/main.js}"></script>
<!--    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js}" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
    <script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@11}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>

        <script th:src="@{https://pagination.js.org/dist/2.6.0/pagination.js}"></script>
    <link rel="stylesheet" th:href="@{https://pagination.js.org/dist/2.6.0/pagination.less}" />
<!--    <script th:src="@{https://pagination.js.org/dist/2.6.0/pagination.min.js}"></script>-->
</head>