<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img th:src="@{/assets/user/img/logo/logo.png}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                    <div class="container-fluid">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left d-flex col align-self-start">
                                    <div class="flag">
                                        <img th:src="@{/assets/user/img/icon/header_icon.png}" alt="">
                                    </div>
                                </div>
                                <div class="header-info-right col align-self-end" >
                                    <ul class="text-right   ">
                                        <li><a th:href="@{/user/myaccount}">My Account </a></li>
                                        <li><a href="product_list.html">Wish List  </a></li>
                                        <li><a href="cart.html">Shopping</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li sec:authorize="hasRole('ROLE_USER')"><a th:href="@{/logout}" >Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                    <a th:href="@{/Trang-chu}"><img th:src="@{/assets/user/img/logo/logo.png}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a th:href="@{/Trang-chu}">Home</a></li>
                                            <li><a >Catagori</a>
                                                <ul class="submenu" >
                                                    <li><a class="dropdown-item" href="#">Áo</a></li>
                                                    <li><a class="dropdown-item" href="#">Quần</a></li>
                                                    <li><a class="dropdown-item" href="#">Mũ nón</a></li>
                                                    <li><a class="dropdown-item" href="#">Giày dép</a></li>
                                                    <li><a class="dropdown-item" href="#">Phụ kiện</a></li>
                                                    <li><a class="dropdown-item" href="#">Khác</a></li>
                                                </ul>
                                            </li>
                                            <li class="hot"><a href="#">Latest</a>
                                                <ul class="submenu">
                                                    <li><a href="product_list.html"> Product list</a></li>
                                                    <li><a href="single-product.html"> Product Details</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a th:href="@{/Gioi-thieu}">Introduce</a></li>
                                        </ul>
                                    </nav>

                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <div class="form-box f-right ">
                                            <input type="text" name="Search" placeholder="Search products">
                                            <div class="search-icon">
                                                <i class="fas fa-search special-tag"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class=" d-none d-xl-block">
                                        <div class="favorit-items">
                                            <i class="far fa-heart"></i>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="shopping-card">
                                            <a href="cart.html"><i class="fas fa-shopping-cart"></i></a>
                                        </div>
                                    </li>
                                    <!-- Hiển thị nút "Hello" và chuyển hướng đến trang Login nếu có người dùng trong session -->
                                    <li class="d-none d-lg-block" sec:authorize="hasRole('ROLE_USER')">
                                        <span th:text="'Hello '+ ${CURRENT_USER}"></span>
                                    </li>
                                    <li class="d-none d-lg-block" sec:authorize="!isAuthenticated()">
                                        <a th:href="@{/Dang-nhap}" class="btn header-btn">Sign in</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
</div>
