<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img th:src="@{/assets/user/img/logo/logo.png}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                    <div class="container-fluid">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left d-flex col align-self-start">
                                    <div class="flag">
                                        <img th:src="@{/assets/user/img/icon/header_icon.png}" alt="">
                                    </div>
                                </div>

<!--                                <div class="header-info-right col align-self-end">-->
<!--                                    <ul class="text-right">-->
<!--                                        <li sec:authorize="hasRole('ROLE_USER')"><a th:href="@{/user/myaccount}">My-->
<!--                                            Account </a></li>-->
<!--                                        <li><a href="product_list.html">Wish List </a></li>-->
<!--                                        <li><a href="">Shopping</a></li>-->
<!--                                        <li><a href="">Cart</a></li>-->
<!--                                        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                    <a th:href="@{/Trang-chu}"><img th:src="@{/assets/user/img/logo/logo.png}"
                                                                    alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a th:href="@{/Trang-chu}">Home</a></li>
                                            <li><a>Catagori</a>
                                                <ul class="submenu">
                                                    <li><a class="dropdown-item" th:href="@{/Danh-muc-san-pham?maDM=1}">Áo</a></li>
                                                    <li><a class="dropdown-item" th:href="@{/Danh-muc-san-pham?maDM=2}">Quần</a></li>
                                                    <li><a class="dropdown-item" th:href="@{/Danh-muc-san-pham?maDM=3}">Mũ nón</a></li>
                                                    <li><a class="dropdown-item" th:href="@{/Danh-muc-san-pham?maDM=4}">Giày dép</a></li>
                                                    <li><a class="dropdown-item" th:href="@{/Danh-muc-san-pham?maDM=5}">Phụ kiện</a></li>
                                                    <li><a class="dropdown-item" th:href="@{/Danh-muc-san-pham?maDM=6}">Khác</a></li>
                                                </ul>
                                            </li>
<!--                                            <li class="hot"><a href="#">Latest</a>-->
<!--                                                <ul class="submenu">-->
<!--                                                    <li><a href="product_list.html"> Product list</a></li>-->
<!--                                                    <li><a href="single-product.html"> Product Details</a></li>-->
<!--                                                </ul>-->
<!--                                            </li>-->
                                            <li><a th:href="@{/Lien-he}">Contact</a></li>
                                            <li><a th:href="@{/Gioi-thieu}">Introduce</a></li>
                                        </ul>
                                    </nav>

                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <div class="form-box f-right ">
                                            <input type="text" id="SearchSP" name="Search" class="search" placeholder="Search products">
                                            <div class="search-icon" >
                                                    <i id="btnSearchSP" class="fas fa-search special-tag"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class=" d-none d-xl-block">
                                        <div class="favorit-items">
                                            <i class="far fa-heart"></i>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="shopping-card">
                                            <a th:href="@{/cart}"><i class="fas fa-shopping-cart"></i></a>
                                        </div>
                                    </li>
                                    <!-- Hiển thị nút "Hello" và chuyển hướng đến trang Login nếu có người dùng trong session -->
                                    <li class="d-none d-lg-block" sec:authorize="hasRole('ROLE_USER')">

                                        <button class="" style=" background: none; border: none; padding: 0; margin: 0; color: inherit; font: inherit;" data-bs-toggle="offcanvas"
                                                data-bs-target="#offcanvaMenu" aria-controls="offcanvaMenu">
                                            <img th:src="@{https://i.pinimg.com/564x/1e/06/29/1e062913ddf3ca649e35db67fd146fb8.jpg}" alt="mdo"
                                                 width="64" height="64" class="rounded-circle border border-black">
                                        </button>

                                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvaMenu"
                                             aria-labelledby="offcanvaMenuLabel" style="width: 20%;">
                                            <div class="offcanvas-header">
                                                <div class="offcanvas-title d-flex align-items-center justify-content-center w-100"
                                                     id="offcanvaMenuLabel">
                                                    <a class="text-center">
                                                        <img th:src="@{https://i.pinimg.com/564x/1e/06/29/1e062913ddf3ca649e35db67fd146fb8.jpg}"
                                                             alt="mdo" width="32"
                                                             height="32" class="rounded-circle border border-black"/>
                                                    </a>
                                                </div>

                                            </div>
                                            <div class="offcanvas-body">
                                                <div class="menu-user ">
                                                    <div class="text-center mb-5">
                                                        <strong class="text-black" th:text="${#authentication.name}"></strong>
                                                    </div>
                                                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" aria-current="page" th:href="@{/user/myaccount}">My profile</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" th:href="@{/user/Doi-mat-khau}">Change Password</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" th:href="@{/user/Lich-su-mua-hang}">History</a>
                                                        </li>
                                                        <li>
                                                            <hr class="dropdown-divider">
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" th:href="@{/logout}">Logout</a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>


                                    </li>

                                    <li class="d-none d-lg-block" sec:authorize="!isAuthenticated()">
                                        <a th:href="@{/Dang-nhap}" class="btn header-btn">Sign in</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
</div>
