<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{views/Admin/MainAdmin.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Estore</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{Admin/css/styles.css}">
</head>
<body>
<article layout:fragment="content">
    <main>
        <div class="sidebar">
            <h2>ESTORE STORE</h2>
            <section class="row">

                <div class="user-info">
                    <p>User : NV003</p>
                    <p>Vai trò : Quản lí</p>
                    <button type="button" class="btn btn-dark">Đăng xuất</button>
                </div>
            </section>
        </div>
        <div class="tabs">
            <ul class="nav nav-underline">
                <li class="nav-item">
                    <a id="linkNV" class="nav-link active" aria-current="page" href="/admin/report/nhan-vien">Nhân viên</a>
                </li>
                <li class="nav-item">
                    <a id="linkDT" class="nav-link" href="/admin/report/doanh-thu">Doanh thu</a>
                </li>
                <li class="nav-item">
                    <a id="linkSP" class="nav-link" href="/admin/report/san-pham">Sản phẩm</a>
                </li>

            </ul>
        </div>

        <div class="main-content  p-4" layout:fragment="report">
            <div class="header">
                <h1>THỐNG KÊ BÁO CÁO</h1>
            </div>
            <div class="report">
                <table class="table">
                    <div class="search">
                        <label for="month-search">Tìm kiếm theo tháng:</label>
                        <input type="text" id="month-search" placeholder="Nhập tháng">
                        <button type="button" class="btn btn-dark">Nhập lại</button>
                        <label for="date-search">Tìm kiếm theo ngày:</label>
                        <input type="text" id="date-search" placeholder="Nhập ngày">
                        <button type="button" class="btn btn-dark">Tìm kiếm</button>
                        <p>Ngày hôm nay :</p>
                    </div>
                </table>
                <div class="report-content">
                    <h3>Nhân viên có đơn</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Mã nhân viên</th>
                            <th scope="col">Tên nhân viên</th>
                            <th scope="col">Số HD bán được</th>
                            <th scope="col">Số SP bán được</th>
                            <th scope="col">Tổng tiền bán được</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Add your data here -->
                        </tbody>
                    </table>
                    <h3>Chi tiết </h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Mã hóa đơn</th>
                            <th scope="col">Số lượng SP</th>
                            <th scope="col">Mã NV</th>
                            <th scope="col">Tên NV</th>
                            <th scope="col">Ngày bán</th>
                            <th scope="col">Tổng tiền</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Add your data here -->
                        </tbody>
                    </table>
                </div>
                <div class="actions">
                    <button type="button" class="btn btn-dark">Xuất báo cáo</button>

                </div>
            </div>
        </div>
    </main>
</article>
</body>
</html>
