<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estore</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}">
    <!-- Include common head -->
    <th:block th:include="/common/head :: head"></th:block>
    <style>
        .form-check-inline {
            display: flex;
            margin-top: 10px;
        }
        .form-check {
            display: inline-block;
            margin-right: 10px;
        }
        .button-container {
            display: flex;
            justify-content: center;
        }
        .button-container button {
            margin: 0 5px; /* Khoảng cách giữa các nút */
        }
        table.col-md-12 {
            width: 100%;
            border-collapse: collapse;
            background-color: #3f76ba;
        }

        table.col-md-12 th, table.col-md-12 td {
            border: 1px solid #000000;
            padding: 8px;
        }

        table.col-md-12 th {
            text-align: center;
            color: #FFFFFF;
        }

        table.col-md-12 tr {
            display: flex;
            text-align: center;
            color: #FFFFFF
        }

        table.col-md-12 td, table.col-md-12 th {
            flex: 1;
            min-width: 0;
        }
    </style>
</head>
<body>
<!-- Include common header -->

<main>
    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col-12">
                <form enctype="multipart/form-data" id="formUpdate">
                    <input name="__RequestVerificationToken" type="hidden">
                    <h1 class="h2 mb-3 mt-2 text-dark d-flex justify-content-center align-items-center">Thông tin nhân viên</h1>
                    <div class="p-3 p-lg-5 border">

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="MANV" class="text-black">Mã nhân viên <span class="text-danger">*</span></label>
                                    <input type="text" class="required form-control" id="MANV"  disabled>
                            </div>
                            <div class="col-md-6">
                                <label for="Gender" class="form-label">Giới tính <span class="text-danger">*</span></label>
                                <select id="Gender" class="form-select" aria-label="Default select example">
                                    <option value="1" selected>Nam</option>
                                    <option value="2">Nữ</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="FullName" class="text-black">Tên nhân viên <span class="text-danger">*</span></label>
                                <input type="text" class="required form-control" id="FullName" >
                            </div>
                            <div class="col-md-6">
                                <label for="Brithday" class="text-black">Ngày sinh <span class="text-danger">*</span></label>
                                <input type="date" class="required form-control" id="Brithday" name="Brithday" placeholder="MM/DD/YYYY">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="Phone" class="text-black">Số điện thoại <span class="text-danger">*</span></label>
                                <input type="text" class="required form-control" id="Phone" >
                            </div>
                            <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="Password" class="text-black">Mật khẩu <span class="text-danger">*</span></label>
                                    <input type="password" class="required form-control" id="Password" >
                                </div>
                                <div class="col-md-6">
                                    <label for="Password1" class="text-black">Nhập lại mật khẩu <span class="text-danger">*</span></label>
                                    <input type="password" class="required form-control" id="Password1" >
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="Address" class="text-black">Địa chỉ <span class="text-danger">*</span></label>
                                <input type="text" class="required form-control" id="Address" >
                            </div>
                            <div class="col-md-6">
                                <label class="text-black">Vai trò <span class="text-danger">*</span></label>
                                <div class="form-check-inline">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="RoleNV" name="role_radio">
                                        <label class="form-check-label" for="RoleNV">Nhân viên</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="RoleQL" name="role_radio">Quản lý
                                        <label class="form-check-label" for="RoleQL"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button-container">
                            <button type="button" class="btn btn-outline-success" onclick="btnCreat_click()">Creat</button>
                            <button type="button" class="btn btn-outline-success" onclick="btnClear_click()">Clear</button>
                            <button type="button" class="btn btn-outline-success">Update</button>
                            <button type="button" class="btn btn-outline-success">Delete</button>
                        </div>
                        <br>
                        <h2 class="h3 mb-3 mt-4 text-black d-flex justify-content-center align-items-center">Danh sách</h2>
                    </div>
                </form>
                <table id="employeeTable" class="col-md-12" border="1">
                    <thead>
                    <tr>
                        <th>MSNV</th>
                        <th>FullName</th>
                        <th>Gender</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Birthday</th>
                        <th>Password</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<script>
    function btnCreat_click() {
        verificationForm();
    }

    function validateName(FullName) {
        let regex = /^[a-zA-Z\s]+$/;
        return regex.test(FullName);
    }

    function validateBirthday(Birthday) {
        let regex = /^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/;
        if (!regex.test(Birthday)) {
            return false;
        }

        let sinh = new Date(Birthday);
        let tai = new Date();

        if (sinh > tai) {
            return false;
        }
        return true;
    }

    function validatePhone(Phone) {
        let regex = /^0[0-9]{9,10}$/;
        return regex.test(Phone);
    }

    function verificationForm() {
        if ($('#Gender').val() == '...') {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Vui lòng chọn giới tính !",
            });
            $('#Gender').focus();
            return;
        }

        if ($('#FullName').val() == '' || !validateName($('#FullName').val())) {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Vui lòng nhập họ tên!",
            });
            $('#FullName').focus();
            return;
        }

        if ($('#Brithday').val() == '' || !validateBirthday($('#Brithday').val())) {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Ngày sinh sai định dạng",
            });
            return;
        }

        if ($('#Phone').val() == '' || !validatePhone($('#Phone').val())) {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Vui lòng nhập Sdt!",
            });
            $('#Phone').focus();
            return;
        }

        if ($('#Password').val() == '') {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Vui lòng nhập mật khẩu!",
            });
            $('#Password').focus();
            return;
        }

        if ($('#Password1').val() !== $('#Password').val()) {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Vui lòng nhập lại!",
            });
            $('#Password1').focus();
            return;
        }

        if ($('#Address').val() == '') {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Vui lòng nhập địa chỉ!",
            });
            $('#Address').focus();
            return;
        }


    }


    function btnClear_click() {
        var data = {
            Gender: '...',
            FullName: '',
            Brithday: '',
            Phone: '',
            Password: '',
            Password1: '',
            Address: ''
        };
        btnFillForm(data);
    }

    $(document).ready(function() {
        var currentURL = window.location.href;
        var segments = currentURL.split('/');
        var manv = segments[segments.length - 1];
        console.log(manv); // Logs "NV001"
        $.ajax({
            url: "/api/nhan-vien/"+manv,
            type: "GET",
            success: function (data) {
                console.log('Hello', data);
                        $('#MANV').val(data.maNV);
                        $('#FullName').val(data.tenNV);
                         var genderValue = data.gioiTinh ? "1" : "2"; // true là Nam, false là Nữ
                        $('#Gender').val(genderValue);
                        $('#Address').val(data.diaChi);
                        $('#Phone').val(data.phone);
                        $('#Brithday').val(data.ngaySinh);
                        $('#Password').val(data.matkhau);
                        var roleValue = data.vaiTro;
                        if (roleValue == false) {
                            $('#RoleNV').prop('checked', true);
                            $('#RoleQL').prop('checked', false);
                        } else {
                            $('#RoleNV').prop('checked', false);
                            $('#RoleQL').prop('checked', true);
                        }

                var formContainer = document.getElementById('formUpdate');
                formContainer.scrollIntoView({ behavior: 'smooth' });
            }
        });

        $.ajax({
            url: "/api/nhan-vien",
            type: "GET",
            headers: {
                'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBWZXIiOiIwLjAuMCIsImV4cCI6NDcyNjM4OTEyMiwibG9jYWxlIjoiIiwibWFzdGVyVmVyIjoiIiwicGxhdGZvcm0iOiIiLCJwbGF0Zm9ybVZlciI6IiIsInVzZXJJZCI6IiJ9.QIZbmB5_9Xlap_gDhjETfMI6EAmR15yBtIQkWFWJkrg',
            },
            success: function(response) {
                var tbody = $('#employeeTable tbody');
                tbody.empty();
                response.forEach(function(item) {
                    var row = $('<tr></tr>');
                    row.append('<td><a href="/admin/nhan-vien/' + item.maNV + '">' + item.maNV + '</a></td>');
                    row.append('<td>' + item.tenNV + '</td>');
                    row.append('<td>' + item.gioiTinh + '</td>');
                    row.append('<td>' + item.diaChi + '</td>');
                    row.append('<td>' + item.phone + '</td>');
                    row.append('<td>' + item.ngaySinh + '</td>');
                    row.append('<td>' + item.matkhau + '</td>');
                    row.append('<td>' + item.vaiTro + '</td>');
                    tbody.append(row);
                })
            },
            error: function(xhr, status, error) {
                // Xử lý lỗi
                console.error("Error fetching employee data:", error);
            }
        });
    });

</script>


</body>
</html>