<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}">
    <title>Estore-Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!-- Custom CSS -->
    <link th:href="@{/assets/extra-libs/c3/c3.min.css}" rel="stylesheet">
    <link th:href="@{/assets/libs/chartist/dist/chartist.min.css}" rel="stylesheet">
    <link th:href="@{/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css}" rel="stylesheet" />
    <!-- Custom CSS -->
    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
</head>

<body ng-app="app" ng-controller="category-ctrl">

<span th:insert="~{templates/common/header.html}"></span>
<span th:insert="~{templates/common/menu.html}"></span>

<div class="page-wrapper">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body" id="brandForm">
                        <h4 class="card-title">Quản lý Loại Sản Phẩm</h4>
                        <p class="card-description">Thêm mới, cập nhật và xoá loại
                            sản phẩm</p>
                        <form class="row g-3" name="categoryForm" novalidate>
                            <fieldset class="mb-3 col-12">
                                <legend class="text-center">Thông Tin Loại Sản Phẩm</legend>
                                <div class="col-md-6">
                                    <label path="name" class="form-label">Tên loại:</label>
                                    <input ng-model="form.name" name="categoryName" placeholder="Name?"
                                           class="form-control" type="text" ng-required="true" />
                                    <div
                                            ng-show="categoryForm.categoryName.$dirty && categoryForm.categoryName.$invalid">
											<span ng-show="categoryForm.categoryName.$error.required"
                                                  style="color: red;">Tên loại là trường bắt buộc.</span>
                                    </div>
                                </div>
                            </fieldset>
                            <br>
                            <div class="col-12">
                                <button ng-click="create()" class="btn btn-outline-primary mx-2"
                                        ng-disabled="categoryForm.$invalid">
                                    <i class="bi bi-plus-circle"></i> Thêm mới
                                </button>
                                <button ng-click="update()" class="btn btn-outline-success mx-2"
                                        ng-disabled="categoryForm.$invalid">
                                    <i class="bi bi-upload"></i> Cập nhật
                                </button>
                                <button ng-click="delete(form)" class="btn btn-outline-danger mx-2">
                                    <i class="bi bi-x-circle"></i> Xoá
                                </button>
                                <button ng-click="reset()" class="btn btn-outline-light mx-2">
                                    <i class="bi bi-arrow-clockwise"></i> Làm mới
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container">
                <table class="table table-bordered w-75 container" border-collapse="collapse">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in pager.items">
                        <td class="w-25">{{item.id}}</td>
                        <td class="w-25">{{item.name}}</td>
                        <td class="text-center w-25">
                            <button ng-click="edit(item)" class="btn btn-outline-primary">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button ng-click="delete(item)" class="btn btn-outline-danger mx-2">
                                <i class="bi bi-x-circle"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <button ng-click="pager.first()" class="page-link">First</button>
                        </li>
                        <li class="page-item">
                            <button ng-click="pager.prev()" class="page-link">Previous</button>
                        </li>
                        <li class="page-item"><span style="color: black;" class="page-link bg-primary">{{pager.page
									+ 1}} of
									{{pager.count}}</span></li>
                        <li class="page-item">
                            <button ng-click="pager.next()" class="page-link">Next</button>
                        </li>
                        <li class="page-item">
                            <button ng-click="pager.last()" class="page-link">Last</button>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>

<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- apps -->
<!-- apps -->
<script th:src="@{/dist/js/app-style-switcher.js}"></script>
<script th:src="@{/dist/js/feather.min.js}"></script>
<script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{/dist/js/sidebarmenu.js}"></script>
<!--Custom JavaScript -->
<script th:src="@{/dist/js/custom.min.js}"></script>
<!--This page JavaScript -->
<script th:src="@{/assets/extra-libs/c3/d3.min.js}"></script>
<script th:src="@{/assets/extra-libs/c3/c3.min.js}"></script>
<script th:src="@{/assets/libs/chartist/dist/chartist.min.js}"></script>
<script th:src="@{/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js}"></script>
<script th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js}"></script>
<script th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{/dist/js/pages/dashboards/dashboard1.min.js}"></script>
<script th:src="@{/js/category.js}"></script>
</body>
</html>
