/* Nút mua hàng */
.nut-group {
    display: flex;
    justify-content: center;
}

.nut-group button {
    width: 18rem;
    font-size: 20px;
    margin: 20px 10px;
    padding: 0.6em 1.3em;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em;
    color: black;
}

.nut-group button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: .15em .15em;
}

.nut-group button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: .05em .05em;
}

.product-img {
    width: 100%;
}

.product-img img {
    width: 100%;
    height: 30rem;
}

.product-scroll {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 12px;

}

.product-scroll img {
    width: 10rem;
    height: 10rem;
    margin: auto .5rem;
}



/* Radio cho size sp */
.radio-size input {
    display: none;
}

.radio-size {
    --container_width: 300px;
    width: var(--container_width);
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    background-color: white;
    color: #000000;
    overflow: hidden;
    border: 1px solid rgba(53, 52, 52, 0.226);
}

.radio-size label {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 600;
    letter-spacing: -1;
    font-size: 1rem;
    cursor: pointer;
}

.selection-rad {
    display: none;
    position: absolute;
    height: 100%;
    width: calc(var(--container_width)/3);
    z-index: 0;
    left: 0;
    top: 0;
    transition: .15s ease;
}

.radio-size label:has(input:checked) {
    color: black;
}

.radio-size label:has(input:checked)~.selection-rad {
    display: inline-block;
    background-color: rgb(202, 224, 247);
}

.radio-size label:nth-child(1):has(input:checked)~.selection-rad {
    transform: translateX(calc(var(--container_width) * 0/3));
}

.radio-size label:nth-child(2):has(input:checked)~.selection-rad {
    transform: translateX(calc(var(--container_width) * 1/3));
}

.radio-size label:nth-child(3):has(input:checked)~.selection-rad {
    transform: translateX(calc(var(--container_width) * 2/3));

}

/* Ul ưu đãi */
.tit-quyenloi {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    height: 100%;

}


.tit-quyenloi ol {
    margin: 10px auto;
    font-size: larger;
    font-weight: bold;
}

.tit-quyenloi i {
    margin-right: 1rem;
}

/*  */
.rev-section {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;

    justify-content: center;
    align-items: center;
}

.rev-card {
    text-align: center;
    width: 35rem;
    height: 14rem;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 10px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);


}

.rev-section img {
    width: 5rem;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.rev-card:hover .rev-content {
    transform: rotateX(0deg);
}

.rev-card:hover .rev-head {
    scale: 0;
}

.rev-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.rev-body {
    width: 100%;
    margin: 10px 0 0;
    font-size: 1.3rem;
    color: #777;
    line-height: 1.4;
}

@media screen and (max-width: 800px) {
    .rev-body {
        width: 100%;
        margin: 10px 0 0;
        font-size: 1.2rem;
        color: black;
        line-height: 1.4;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

/* Thanh line 2 bên */

.line-new {

    font-size: 1.5rem;
    position: relative;
}

.line-new.line-v1 {
    text-align: center;
    line-height: 40px;
    /* Không cho thanh line tràn ra */
    overflow: hidden;

}

.line-new.line-v1 h3 {
    font-size: 2.2rem;
    line-height: 40px;
    text-transform: uppercase;

}

.line-new span {
    position: relative;
    padding: 0 20px;
}

.line-new.line-v1 span::before {
    content: "";
    height: 2px;
    width: 1000%;
    background-color: #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    display: block;
    margin: auto;
    /*Căn giữa*/
}

.line-new.line-v1 span::after {
    content: "";
    height: 2px;
    width: 1000%;
    background-color: #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    display: block;
    margin: auto;

}

/* Nút thêm */
.quantity-area {
    margin: 20px auto;
}

/* .quantity-area input#quantity {
    background: #fff;
    font-weight: 600;
    height: 32px;
    padding: 0;
    text-align: center;
    width: 70px;
    border: 1px solid #f3f4f4;
    border-left: none;
    border-right: none;
    border-radius: 1px;
    float: left;

}

.quantity-area input.qty-btn {
    float: left;
    background: #f3f4f4;
    border: solid 1px #f3f4f4;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 0;
} */

.quantity-area .quantity-selector {
    background-color: aliceblue;

    height: 2rem;
    font-weight: 600;
    padding: 0;
    text-align: center;
    width: 4rem;
    border-radius: 1px;
    float: left;
}

.quantity-area input.qty-btn {
    float: left;
    height: 2rem;
    width: 2rem;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

/* Thanh luot */
.draw-frame {
    width: 100%;
    height: 5rem;

}

.draw-frame div {

    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.draw-frame label {
    position: relative;
    display: block;
    transition: 0.5s;
    cursor: pointer;
}

.draw-frame a {
    text-decoration-line: none;
    color: #000;
}

.draw-frame label::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
    background-color: #000;
}

.draw-frame label:hover {
    color: #000;
}

.draw-frame label:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* Thông số sản phẩm */
.chi-tiet ol {
    list-style-type: none;
    margin-left: 1.5em;
    text-indent: -1.5em;

    /* Đẩy nội dung về lề trái tạo khoảng cách */
}

.chi-tiet strong {
    font-size: 30px;
    font-weight: 600;

}

.chi-tiet span {
    font-size: 25px;
}

/* Sản phẩm tương tự */
.fre_sptt img {
    height: 20rem;
    width: 20rem;
}


/* Section video sản phẩm */
.accBodyVideo {
    width: 100%;
    display: flex;
}

/* Section img */
.accImg {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.accImg .child-img {
    width: 60em;
    height: auto;
    margin: 1em;
}

.child-img img {
    width: 100%;
    height: 100%;
    filter: blur(#ffd0d0);
    /* transition: transform 0.3s ease-in; */
    filter: grayscale(30%);
}

.child-img img:hover {
    /* transform: scale(1.1); */
    filter: grayscale(0);
}

.accBodyVideo iframe,
video {
    border-radius: 2%;
    height: 720px;
    width: 1920px;
}

/* Commment */
.sec-comment {
    width: 100%;
    display: flex;
}