body {
    background-color: #fffcf2;
    font-family: 'Inconsolata', monospace;
}

.topic-nav {
    background-color: #ffffff;
}

footer {
    background-color: white;
}

.con-main {
    background-color: #fffbfb !important;
}


.shop-fix-img-banner {
    height: 720px;
    width: 1920px;

    /* max-width: 100%; */
    /* height: auto; */
    /* object-fit: cover; */
}

.shop-fix-img-banner-n {
    max-width: 640px;
    /* Giới hạn chiều rộng tối đa là 640px */
    max-height: 570px;
    /* Giới hạn chiều cao tối đa là 570px */
    width: 100%;
    /* Đảm bảo kích thước tỷ lệ giữa chiều rộng và chiều cao */
    height: auto;
    /* Chiều cao tự động để duy trì tỷ lệ khung hình */
}

.nav-item a {
    font-size: larger;
}

.shop-banner button {
    font-size: larger;
}

#Sign-up-btn,
#Log-in-btn,
#Log-out-btn {
    font-size: larger;
}



.sale-img {
    width: 30%;
    height: 30%;
}

.shop-card img {
    height: 350px;
    width: 400px;
}

.shop-card h5 {
    max-width: 15em;

}

/* .shop-bread{

} */

.shop-bread li {
    font-size: x-large;
    align-items: center;
}

.shop-bread li:hover {
    color: black;
    font-size: xx-large;
    font-weight: bold;


}

.shop-car {
    height: 720px;
}

.shop-carouel-rev p {
    max-width: 100%;
    max-height: 720px;

}

.shop-car-text {
    max-height: 570px;
}

.shop-card-title {
    width: 100%;
    height: 70x;
    /* display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shop-card-title h5 {
    margin-top: 25px;
    height: 100px;
}

.shop-items img {
    height: 350px;
    width: 100%;
}

.shop-card-items {
    text-align: center;
    margin: 20px;

}

.card-body img {
    height: 300px;
    width: 300px;
}

/* Menu user */

#userAvatar img {
    width: 72px;
    height: 72px;
}

#menu-user li a {
    color: black;
}

.menu-user li {
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    list-style-type: none;
    font-size: 2.3rem;
}

.bad-bell i {
    font-size: 4.5rem;
    z-index: 0;
}

.bell-count {
    position: absolute;
    top: 28%;
    left: 56%;
    font-size: 1rem;
    z-index: 1;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    z-index: 1;
}