<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Admin Login - Estore</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" th:href="@{/site.webmanifest}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}">
    <th:block th:include="/common/head :: head"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/user/css/login.css}">
</head>
<body>
<div th:include="/common/header :: header"></div>

<main ng-app="adminApp" ng-controller="adminCtrl">
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form ng-submit="adminLogin()">
                <h1>Admin Sign in</h1>
                <span>or use your admin account</span>
                <input type="email" name="adminUsername" ng-model="adminFormData.logEmail" placeholder="Email"/>
                <input type="password" name="adminPassword" ng-model="adminFormData.logPassword" placeholder="Password"/>
                <a href="http://localhost:8080/Quen-pass">Forgot your password?</a>
                <button type="submit">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Admin!</h1>
                    <p>Enter your admin credentials to access the admin panel</p>
                </div>
            </div>
        </div>
    </div>
</main>

<script th:inline="javascript">
    /*<![CDATA[*/
    var app = angular.module('adminApp', []);
    app.controller('adminCtrl', function($scope, $http) {
        $scope.adminFormData = {};

        $scope.adminLogin = function() {
            if ($scope.adminFormData.logEmail == null) {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Email cannot be empty",
                });
            } else if ($scope.adminFormData.logPassword == null) {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Password cannot be empty",
                });
            } else {
                $http.post('/admin/login', {
                    username: $scope.adminFormData.logEmail, // Send logEmail as username
                    password: $scope.adminFormData.logPassword // Send logPassword as password
                }).then(function(response) {
                    $scope.admin = response.data;
                    if ($scope.admin === null) {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Incorrect email!",
                        });
                    } else {
                        Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "Login successful",
                            showConfirmButton: false,
                            timer: 1500
                        }).then(function() {
                            window.location.href = '/admin/dashboard';
                        });
                    }
                }).catch(function(error) {
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Incorrect email or password",
                    });
                });
            }
        };
    });
    /*]]>*/
</script>
</body>
</html>
