<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{views/index.html}" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estore</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/user/img/favicon.ico}">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/assets/khachhang/css/changePass.scss}">-->
    <link>
</head>
<body>
<!-- Include common header -->
<div th:include="/common/header :: header"></div>
<main layout:fragment="index">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-3"></div>
            <div class="col-lg-4 col-md-6 user-profile-form">
                <h5>Change Password</h5>
                <form class="form" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control"  id="Password" placeholder="Password.."/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="conformPassword" placeholder="Conform Password.."/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control " id="newPassword" placeholder="New Password.."/>
                    </div>
                </form>
               <div class="d-flex">
                   <button class="text-black me-2 " id="cancel"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>&nbsp; Cancel</button>
                   <button class="text-black " id="changePass"><i class="fa fa-key fa-rotate-180" aria-hidden="true"></i>&nbsp; Change Password</button>
               </div>
            </div>
            <div class="col-lg-4 col-md-3"></div>
        </div>
    </div>
</main>


</body>
</html>