<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Estore</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" th:href="@{/site.webmanifest}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}">
    <th:block th:include="/common/head :: head"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/user/css/login.css}">

</head>
<body>
<div th:include="/common/header :: header"></div>

<main ng-app="myApp" ng-controller="myCtrl">
{{data.email}}
</main>

<script th:inline="javascript">

    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $http) {
        $http.get('/demoApi')
            .then(function(response) {
                $scope.data = response.data;
            }, function(error) {
                console.log(error);
            });
    });







</script>
</body>
</html>
