<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{views/index.html}" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estore</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}">
    <!-- Include common head -->
    <th:block th:replace="/common/head :: head"></th:block>
</head>
<body>
    <main layout:fragment="index" class="col-md-9 col-sm-12 col-xs-12">
        <div class="page-wrapper">
            <div class="heading-page">
                <h1>Giới thiệu</h1>
            </div>
            <div class="wrapbox-content-page">
                <div class="content-page ">
                    <p>Trang giới thiệu giúp khách hàng hiểu rõ hơn về cửa hàng của bạn. Hãy cung cấp thông tin cụ thể về việc
                        kinh doanh, về cửa hàng, thông tin liên hệ. Điều này sẽ giúp khách hàng cảm thấy tin tưởng khi mua hàng
                        trên website của bạn.</p>
                    <p>Một vài gợi ý cho nội dung trang Giới thiệu:</p>
                    <div>
                        <ul>
                            <li><span>Bạn là ai</span><br></li>
                            <li><span>Giá trị kinh doanh của bạn là gì</span><br></li>
                            <li><span>Địa chỉ cửa hàng</span><br></li>
                            <li><span>Bạn đã kinh doanh trong ngành hàng này bao lâu rồi</span><br></li>
                            <li><span>Bạn kinh doanh ngành hàng online được bao lâu</span><br></li>
                            <li><span>Đội ngũ của bạn gồm những ai</span><br></li>
                            <li><span>Thông tin liên hệ</span><br></li>
                            <li><span>Liên kết đến các trang mạng xã hội (Twitter, Facebook)</span><br></li>
                        </ul>
                    </div>
                    <p>Bạn có thể chỉnh sửa hoặc xoá bài viết này tại <a href="" style="color:black"><strong>đây</strong></a>
                        hoặc thêm những bài viết mới trong phần quản lý <a href="" style="color: black"><strong>Trang nội
                            dung</strong></a>.</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>