<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Estore</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}">
    <th:block th:include="~{/common/head :: head}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/user/css/login.css}">

</head>
<body>
<div th:replace="~{/common/header :: header}"></div>


<main >
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form id="DangKyFrom">
                <h1>Create Account</h1>
                <input type="text" placeholder="Username" id="hoTen" required/>
                <input type="password" placeholder="Password" id="matKhau" required/>
                <input type="text" placeholder="Phone" id="phone" required/>
                <input type="email" placeholder="Email" id="email" required/>
                <input type="text" placeholder="Address" id="address" required/>
                <button id="dangKy">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form id="loginForm" >
                <h1>Sign in</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a th:href="@{/oauth2/authorization/google}" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>

                <span>or use your account</span>
                <input type="email"   id="username" placeholder="Email"/>

                <input type="password" id="password" placeholder="Password"/>

                <a th:href="@{/Quen-mat-khau}">Forgot your password?</a>
                <button type="submit">Sign In</button>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">

                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</main>

<script th:inline="javascript">
    /*<![CDATA[*/
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });



    $(document).ready(function() {
        function validateHoTen(hoTen) {
            return /^[a-zA-ZÀ-ỹ\s]+$/.test(hoTen);
        }

        function validatePhone(phone) {
            return /^[0-9]{10}$/.test(phone);
        }

        //Đăng nhập
        $('#loginForm').submit(function(event) {
            event.preventDefault();

            var username = $('#username').val();
            var password = $('#password').val();

            if (!username) {
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "Email cannot be empty",
                });
                return;
            }

            if (!password) {
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "Password cannot be empty",
                });
                return;
            }

            $.ajax({
                type: 'POST',
                url: '/Dang-nhap',
                data: $.param({ username: username, password: password }),
                contentType: 'application/x-www-form-urlencoded',
                success: function(response) {


                    Swal.fire({
                        position: "top-end",
                        icon: "success",
                        title: "Login successful",
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function() {
                        window.location.href = '/Trang-chu';
                    });

                },
                error: function(jqXHR, exception, exceptionText) {
                    if (jqXHR.status === 401) {
                        var errorResponse = JSON.parse(jqXHR.responseText);
                        Swal.fire({
                            icon: "error",
                            title: "Error",
                            text: errorResponse.error
                        });
                    } else {
                        console.log('Error: ' + exceptionText);
                    }
                }
            });
        });

        //Đăng ký
        $('#DangKyFrom').submit(function(event) {
            event.preventDefault();
            let hoTen = $('#hoTen').val().trim();
            let matKhau = $('#matKhau').val().trim();
            let phone = $('#phone').val().trim();
            let email = $('#email').val().trim();
            let address = $('#address').val().trim();
            if (!validateHoTen(hoTen)) {
                Swal.fire("Họ tên không được chứa số và kí tự đặc biệt!");
                return;
            }
            if (matKhau.length < 9){
                Swal.fire("Mật khẩu phải tối thiểu 9 kí tự!");
                return;
            }
            if (!validatePhone(phone)) {
                Swal.fire("SDT phải 10 số");
                return;
            }
            var data = {
                diaChi: address,
                email: email,
                matKhau: matKhau,
                sdt: phone,
                tenKH: hoTen
            };

            $.ajax({
                type: 'GET',
                url: '/api/khach-hang/check-khach-hang',
                data: { mail: email },
                contentType: 'application/x-www-form-urlencoded',
                success: function(response) {
                    if (response == true ) {
                        Swal.fire({
                            icon: "error",
                            title: "Error",
                            text: "Email đã tồn tại"
                        });
                    } else {

                        $('#dangKy').click(function(e) {
                            alert("Thông tin bạn đang được xử lý")
                            return;
                        })
                        $.ajax({
                            type: 'POST',
                            url: '/api/khach-hang/add-khach-hang',
                            data: JSON.stringify(data),
                            contentType: 'application/json',
                            dataType: 'json',
                            success: function(response) {
                                Swal.fire({
                                    position: "top-end",
                                    icon: "success",
                                    title: "Đăng ký thành công",
                                    showConfirmButton: false,
                                    timer: 1500
                                }).then(function() {
                                    container.classList.remove("right-panel-active");
                                    $('#username').val(email);
                                    $('#password').val(matKhau);

                                    $('#hoTen').val(null);
                                    $('#matKhau').val(null);
                                    $('#phone').val(null);
                                    $('#email').val(null);
                                    $('#address').val(null);

                                });

                            }
                        })
                    }
                },
                error: function(jqXHR, exception, exceptionText) {

                }
            });
        })
    });
</script>
</body>
</html>
