<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/assets/khachhang/css/ThanhToan.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" integrity="sha512-qZvrmS2ekKPF2mSznTQsxqPgnpkI4DNTlrdUmTzrDgektczlKNRRhy5X5AAOnx5S09ydFYWWNSfcEqDTTHgtNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<!--        <script src= "https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"> </script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.js" integrity="sha512-vNrhFyg0jANLJzCuvgtlfTuPR21gf5Uq1uuSs/EcBfVOz6oAHmjqfyPoB5rc9iWGSnVE41iuQU4jmpXMyhBrsw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="d-flex align-items-center justify-content-center" id="hoaDon">
<div id="container" class="order-table" >
    <header>
    <span><img class="icon" src="/assets/user/img/favicon.ico"><p>Fake Inc.</p>
      <p>Thank you for your order!</p></span>
        <span><p class="order-number" id="MaHD" th:text="${maHD}"></p>
    <p class="order-date" id="orderDate"></p>
        </span>
    </header>

    <table id="hoaDonForm" cellspacing="0">
        <thead>
        <tr>
            <th></th>
            <th>Item</th>
            <th>SKU</th>
            <th>Size</th>
            <th>Quantity </th>
            <th>Subtotal</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <footer>
        <section class="billing">
            <input id="maKH" hidden>
            <ul class="billing-info">
                <li id="hdTenKH"></li>
                <li id="hdSDT"></li>
                <li id="hdEmail"></li>
                <li id="hdDicChi"></li>
            </ul>
            <ul class="payment-method">
                <li>Credit Card</li>
                <li>Credit Card Type: Visa</li>
            </ul>
        </section>

    </footer>
    <section id="khung">
        <ul class="shipping-info">
            <button><a href="/cart"><i class="fa-solid fa-arrow-left-long"></i></a></button>
            <button id="thanhToan">Xác nhận thanh toán</button>
        </ul>
    </section>
</div>

<script>
    $(document).ready(function () {
        let today = new Date().toLocaleDateString()
        $('#orderDate').text("Order Date: " +today);
        function getCartList() {
            $.ajax({
                type: "GET",
                url: "/api/getListCart",
                contentType: "application/json",
                success: function(response) {
                    var tbody = $('#hoaDonForm tbody');
                    tbody.empty();
                    var totalSum = 0;
                    response.forEach(function(item) {
                        var row = $('<tr></tr>');
                        row.append('<td><img src="' + item.anh + '" alt="Product Image" width="50"></td>');
                        row.append('<td>' + item.tenSP + '</td>');
                        row.append('<td>' + item.maSP + '</td>');
                        row.append('<td>' + item.size + '</td>');
                        row.append('<td class="text-center">' + item.quantity + '</td>');
                        row.append('<td class="text-center">' + (item.giaBan * item.quantity) + '</td>');
                        tbody.append(row);
                        totalSum += item.giaBan * item.quantity;
                    });
                    $('#totalSum').text(totalSum);
                },
                error: function(xhr, status, error) {
                    console.log(error);
                }
            });
        }
        getCartList()
        $.ajax({
            url: "/api/khach-hang/user",
            type: "GET",
            success: function (data) {
                console.log(data);
                $('#maKH').val(data.maKH);
                $('#hdTenKH').text(data.hoTen);
                $('#hdSDT').text(data.diaChi);
                $('#hdEmail').text(data.email);
                $('#hdDicChi').text(data.soDienThoai);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (jqXHR.status === 401) {
                    console.log("Unauthorized");
                } else {
                    console.log(jqXHR); // Log thông tin lỗi khác
                }
            }
        });

        $('#thanhToan').click(function () {
            var MaHD = $('#MaHD').text();
            var MailKH = $('#hdEmail').text();

            const element = document.getElementById('hoaDon');

            const options = {
                filename: MaHD + '.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                image: {
                    type: 'jpeg',
                    quality: 0.98
                },
                html2canvas: {
                    scale: 2
                },
                jsPDF: {
                    unit: 'in',
                    format: 'a4',
                    orientation: 'portrait'
                }
            };

            async function printHTML() {
                let blob = await html2pdf().from(element).set(options).toPdf().output('blob');

                const fileReader = new FileReader();
                fileReader.readAsArrayBuffer(blob);
                fileReader.onload = async () => {
                    const fileBytes = new Uint8Array(fileReader.result);

                    try {
                        const response = await fetch('/api/hoa-don/Gui-hoa-don-mail', {
                            method: 'POST',
                            body: fileBytes
                        });

                        if (response.ok) {
                            console.log('File PDF đã được gửi thành công!');
                            $.ajax({
                                url: "/api/hoa-don/thanh-toan",
                                type: "POST",
                                data: {maHD : MaHD, mailKH : MailKH},
                                success: function (data) {
                                    console.log(data);
                                    Swal.fire({
                                        icon:'success',
                                        title: 'Thanh toán thành công',
                                        showConfirmButton: false,
                                        timer: 1500
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            window.location.href = "/";
                                        }
                                    })



                                    window.location = "/user/Lich-su-mua-hang"
                                    // html2pdf().set(options).from(element).save();

                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    if (jqXHR.status === 401) {
                                        console.log("Unauthorized");
                                    } else {
                                        console.log(jqXHR); // Log thông tin lỗi khác
                                    }
                                }
                            });

                        } else {
                            console.error('Có lỗi xảy ra khi gửi file PDF.');
                        }
                    } catch (error) {
                        console.error('Có lỗi xảy ra khi gửi file PDF:', error);
                    }
                };
            }

            $('#khung').attr("hidden",true)
            // printHTML()
            printHTML()
        })
    });
</script>
</body>
</html>