<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Estore</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" th:href="@{/site.webmanifest}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}">
    <th:block th:include="/common/head :: head"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/user/css/login.css}">

</head>
<body>
<div th:include="/common/header :: header"></div>
Lỗi
</body>
</html>
